{% extends "layout.html" %}
{% block body_content %}

<div class="container-about">
  <img class="bg obj-fit-cover" src="{{url_for('static',filename='images/header_shop_2.png')}}" alt="plants">
  <h1 style="font-size:5vw;">About Us</h1>


</div>


<div class="container-theteam">
<p class="lead text-muted">The Plant Emporium features a carefully-curated selection of indoor and outdoor plants that are ideal for both the home and office. Each plant boasts an elegance and simplicity that echo the Plant Emporium ethos, with air cleaning properties for a healthy and aesthetic solution. Add vibrancy and life to any indoor or outdoor space, with our range of plants and explore great tips to care for them. Explore our range of Plant Emporium plants and select one to brighten up your space! </p>

  <h2>Meet the Team</h2>


</div>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{url_for('static',filename='images/jody_leaf.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jody</h5>
      <h6 class="card-subtitle mb-2 text-muted">Plant Doctor</h6>
      <p class="card-text"> Jody really kills too many plants to claim this title, she is rumoured to have been spotted secretly disposing of a variety of neglected succulents in the cover of darkness.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{url_for('static',filename='images/jodie_about_us.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jodie</h5>
      <h6 class="card-subtitle mb-2 text-muted">Website Wrangler</h6>
      <p class="card-text">The Plant Emporium's resident web ninja is always keen to resolve any code based anomalies. Jodie's thoughts literally appear in command line format, and she is dedicated to communicating exclusively in binary code at this point.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{url_for('static',filename='images/tasha_about.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Natasha</h5>
      <h6 class="card-subtitle mb-2 text-muted">Plant Purchaser</h6>
      <p class="card-text">Combining her love of shopping with a great depth of horticultural knowledge, she sources only the best plants for our shop! She has a keen eye for outdoor plants in particular and her garden is a spectacle to behold.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{url_for('static',filename='images/isabel.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Isabel</h5>
      <h6 class="card-subtitle mb-2 text-muted">Master of the retail outlet</h6>
      <p class="card-text">Master of the Retail Outlet: She has a key eye for interior design, the self-proclaimed "Main" of retail outlets loves nothing more than a thriving avocado plant in tranquil and aromatic space.</p>
    </div>
  </div>
</div>
{% endblock %}